<form [formGroup]="myForm" (ngSubmit)="handleSubmit()">
    <div vFlex vGap="4" vFlexCol vFlexGrow>
    <label v-label for="fixed-height-textarea">What UI are you creating?</label>
    
    <!-- Dialog Container -->
    <div class="flex-container" v-input-container vFlex vFlexCol>
      <ng-container *ngFor="let dialogRow of dialogCollection | keyvalue">

      <!-- User Input -->
      <div class="right-row-item">
        <div v-section v-message messageType="subtle" class="message-item">
          <h2>{{ dialogRow.value.userInput }}</h2>
        </div>
      </div>

      <!-- Response -->
      <div class="left-row-item" *ngFor="let component of dialogRow.value.apiResponse; index as i;">
        <div v-section v-message vGap="4" class="message-item">
          <div xFlex vFlexCol class="message-item-content">
            <h2>{{ component.label }}</h2>
            <div>{{ component.html }}</div>
          </div>

          <div vFlex vFlexCol class="copy-button">
            <button aria-label="copy"
                    class="v-button v-button-icon v-button-tertiary v-button-small v-button-subtle"
                    type="button"
                    (click)="copyText(component.html)">
              <svg v-icon-visa-copy-tiny aria-label="visa copy tiny"></svg>
            </button>
          </div>
        </div>
      </div>
      </ng-container>

      <!-- Text Area -->
      <textarea 
      v-input 
      required 
      formControlName="userInput" 
      noResize
      style="block-size: 130px"
      id="fixed-height-textarea"
      placeholder="Start typing..."></textarea>

    </div>

        <!-- Submit Button -->
        <div vFlex vGap="16">
            <button v-button vMT="8" type="submit">Submit</button>
        </div>
    </div>
  </form>
